//
// configure in _config.next.yml
//
// custom_file_path:
//   style: themes/next/source/css/custom.styl
//

div.headband {
  display: none;
}

div.site-brand-container {
    display: none
}

main.main {
    margin: 18px auto
}

div.post-block,
div.sidebar-inner,
header.header,
nav.pagination,
div.search-popup {
    border-radius: 18px !important
}
div.search-header {
    border-top-left-radius: 18px !important
    border-top-right-radius: 18px !important
}

div.search-result-container {
    border-radius: 18px !important
    overflow-x: hidden !important
}

div.search-popup {
    padding-bottom: 16px
}

img.site-author-image {
    max-width: 170px
}

div.sidebar-panel-container {
    padding-bottom: 6px
}

p.site-author-name {
    font-weight: 500
    font-size: 1.57em
}

span.links-of-author-item {
    font-size: 1.5rem
}
span.links-of-author-item a {
    padding: 0 14px 0 14px;
}

span.site-state-item-count {
    font-size: 1em;
}
span.site-state-item-name {
    font-size: .8em
}

nav.site-state {
    margin-top: 6px
}