//
// configure in _config.next.yml
//
// custom_file_path:
//   style: themes/next/source/css/custom.styl
//

div.headband {
    display: none;
}

main.main {
    margin: 18px auto
}

div.site-brand-container {
    border-radius: 18px 18px 0 0
}

div.post-block,
div.sidebar-inner,
header.header,
nav.pagination,
div.search-popup,
div.comments {
    border-radius: 18px !important
}
div.search-header {
    border-top-left-radius: 18px !important
    border-top-right-radius: 18px !important
}

div.search-result-container {
    border-radius: 18px !important
    overflow-x: hidden !important
}

div.search-popup {
    padding-bottom: 16px
}

img.site-author-image {
    max-width: 170px
}

div.sidebar-panel-container {
    padding-bottom: 6px
}

p.site-author-name {
    font-weight: 500
    font-size: 1.57em
}

span.links-of-author-item {
    font-size: 1.5rem
}

span.links-of-author-item a {
    padding: 0 14px 0 14px;
}

div.site-description {
    font-size: 0.8625em
}

span.site-state-item-count {
    font-size: 1.05em;
}

span.site-state-item-name {
    font-size: .9em
}

nav.site-state {
    margin-top: 6px
}

@media (min-width: 1900px)
  .main
    width: 63%
  div.search-popup
    width: 35%

div.beian a {
    border-bottom: none
    color: #999999
}

@font-face{
  font-family: 'FZFWZhuZiAYuanJWM' ;
  src: url('../fonts/FZFWZhuZiAYuanJWM.TTF');
}
@font-face{
  font-family: 'SourceCodePro-Regular' ;
  src: url('fonts/SourceCodePro-Regular.TTF');
}

li.menu-item a {
    font-size: .9em
}

li.sidebar-nav-toc, li.sidebar-nav-overview {
    font-size: 1.125em
    margin: 0 1em 0 1em
}

span.nav-text {
    font-size: 1.125em
}

li.nav-item {
    line-height: 1.9 !important
}

.post-header {
    text-align: left !important
}

.post-meta {
    justify-content: left
}

span.page-number, a.page-number, a.extend  {
    border-radius: 8px
    border: 0 !important
}

a.page-number:hover, a.extend:hover {
    background-color: #eee
    transition: background-color 0.25s ease
}

div.post-description {
    display: none
}

header.post-header {
    margin-bottom: 13px !important
}

div.post-body p {
    margin-bottom: 10px
}

div.post-body ol {
    padding-left: 20px !important
}
div.post-body ul {
    padding-left: 20px !important
}